In [2]:
import pandas as pd

In [6]:
d=pd.read_excel("stress1.xlsx")

In [7]:
d

    name   age  exam stress
0    ram  12.0          1.0
1  jithu  18.0          0.0
2    sam   NaN          NaN

In [8]:
d.dropna()

    name   age  exam stress
0    ram  12.0          1.0
1  jithu  18.0          0.0

In [10]:
d.dropna(axis=1)  #axis=1 is coloumns

    name
0    ram
1  jithu
2    sam

In [12]:
d.dropna(thresh=2)   #thresh=2 means don't want to delete the two non null values

    name   age  exam stress
0    ram  12.0          1.0
1  jithu  18.0          0.0

In [14]:
d.dropna(thresh=1) # hear thresh=1 means it will delete the row which has only one non null values hear in this data there are no one non null values row so non of the rows are deleted

    name   age  exam stress
0    ram  12.0          1.0
1  jithu  18.0          0.0
2    sam   NaN          NaN

In [20]:
d.fillna(1000,axis=1)

    name   age exam stress
0    ram  12.0         1.0
1  jithu  18.0         0.0
2    sam  1000        1000

In [21]:
d["age"].fillna(1000)

0      12.0
1      18.0
2    1000.0
Name: age, dtype: float64

In [22]:
x=d["age"].mean()

In [23]:
x

15.0

In [29]:
d.fillna(value=x)

    name   age  exam stress
0    ram  12.0          1.0
1  jithu  18.0          0.0
2    sam  15.0         15.0

In [31]:
d["age"].fillna(value=x)

0    12.0
1    18.0
2    15.0
Name: age, dtype: float64

In [32]:
y=d["age"].median()

In [33]:
y

15.0

In [34]:
d.fillna(value=y)

    name   age  exam stress
0    ram  12.0          1.0
1  jithu  18.0          0.0
2    sam  15.0         15.0

In [36]:
z=d["age"].mode()

In [37]:
z

0    12.0
1    18.0
Name: age, dtype: float64

In [41]:
d.fillna(value=z[1])

    name   age  exam stress
0    ram  12.0          1.0
1  jithu  18.0          0.0
2    sam  18.0         18.0

In [39]:
d["age"].nunique()

2

In [40]:
d["age"].unique()

array([12., 18., nan])